.mainscreen {
  background: #f8f9ff;
  &_grid {
    display: grid;
    padding-right: 0;
    grid-template-areas: "C P";

    width: 100vw;
    height: calc(100vh - 17vh - 61px);
    grid-template-columns: 61% 39%;
    gap: 1px 19px;
    @media screen and (max-height: 915px) {
      height: calc(100vh - 20vh - 61px);
    }
    @media screen and (max-width: 780px) {
      grid-template-columns: 1fr;
      grid-template-areas: "P" "C";
      grid-template-rows: 1fr 1fr;
      height: auto;
    }
    @media screen and (max-height: 715px) {
      grid-template-columns: 73% auto;
      min-height: 100vh;
      gap: 1px;
    }

    @media screen and (max-width: 580px) {
      height: auto;
      grid-template-rows: auto auto auto;
    }
    @media screen and (max-height: 515px) {
      min-height: 120vh;
    }
  }
  &_content {
    grid-area: C;
    padding-top: 4rem;
    padding-left: 5rem;
    padding-right: 0;
    font-family: "Futura New";
    @media screen and (max-width: 1200px) {
      padding-top: 2rem;
      padding-left: 2rem;
    }
    @media screen and (max-width: 1030px) {
      padding-top: 4rem;
    }
    @media screen and (max-width: 780px) {
      padding: 1rem;
      padding-top: 2rem;
    }
    @media screen and (max-width: 580px) {
      padding: 0.75rem;
    }
    h1 {
      font-size: 74px;
      line-height: 90%;

      margin: 0;
      margin-bottom: 23px;
      @media screen and (max-width: 1200px) {
        font-size: 66px;
      }
      @media screen and (max-height: 655px) {
        font-size: 55px;
      }
      @media screen and (max-width: 1030px) {
        font-size: 52px;
        line-height: 80%;
        margin-bottom: 18px;
      }
      @media screen and (max-width: 780px) {
        font-size: 54px;
        margin-top: 11px;
        width: 70%;
      }
      @media screen and (max-width: 580px) {
        width: 100%;
        line-height: 110%;
      }
      @media screen and (max-width: 480px) {
        font-size: 42px;
      }
    }
    p {
      font-size: 36px;
      line-height: 120%;
      margin-bottom: 40px;
      @media screen and (max-width: 1200px) {
        font-size: 29px;
        line-height: 110%;
        margin-bottom: 25px;
      }
      @media screen and (max-width: 1030px) {
        font-size: 24px;
      }
      @media screen and (max-width: 780px) {
        font-size: 22px;
        margin-bottom: 12px;
      }
      @media screen and (max-width: 580px) {
        line-height: 160%;
        font-size: 25px;
        margin-bottom: 24px;
      }
      @media screen and (max-width: 480px) {
        font-size: 21px;
      }
    }
    button {
      width: 245px;
      padding: 24px;
      background-color: var(--primary-red);
      border-radius: 20px;
      border: none;
      font-size: 20px;
      font-family: inherit;
      color: #fff;
      @media screen and (max-width: 1200px) {
        padding: 19px;
      }
      @media screen and (max-width: 580px) {
        width: 100%;
      }
      &:hover {
        background-color: #8b0923;
        cursor: pointer;
      }
    }
  }
  &_picture {
    grid-area: P;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_disc {
    position: relative;
    height: 100%;
    padding: 0 5rem;
    height: 15vh;
    @media screen and (max-height: 915px) {
      height: 18vh;
    }
    @media screen and (max-width: 1200px) {
      padding: 0 2rem;
    }
    @media screen and (max-width: 780px) {
      padding: 0 1rem;
      height: auto;
    }

    &_wrap {
      display: flex;
      background: #fff;
      box-shadow: 0px 12px 32px rgba(224, 226, 221, 0.3);
      border-radius: 24px;
      padding: 23px;
      align-items: center;
      height: 100%;
      margin-bottom: 2vh;

      gap: 18px;
      @media screen and (max-height: 715px) {
        width: 95%;
      }
      @media screen and (max-width: 780px) {
        width: 95%;
      }
      @media screen and (max-width: 580px) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 31px;
      }
      p {
        font-size: 13px;
        line-height: 130%;
        color: #232c32;
        opacity: 0.4;
        @media screen and (max-width: 1200px) {
          font-size: 12px;
        }
      }
      img {
        max-height: 90px;

        @media screen and (max-width: 580px) {
          max-height: 70px;
        }
      }
    }
  }
}

.hero_desktop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-bottom: 15%;
  @media screen and (max-width: 780px) {
    width: 40%;
    margin-bottom: 0;
  }
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &_parallax {
    inset: 0;
    position: absolute;
  }
  .desktop {
    width: 90%;
  }
  .tooth {
    position: absolute;
    max-height: 135%;
    left: 10%;
    top: -30%;
    transform: translateZ(50px) scale(0.9);
  }

  &_shadow {
    height: 85%;
    width: 85%;
    left: 10%;
    top: 25%;
    position: absolute;
    transform: perspective(1000px);
    transform-style: preserve-3d;
    background-image: url("./assets/shadow.png");
    background-position: center;

    background-size: contain;
    background-repeat: no-repeat;
  }
}
