.wrapper {
  /* overflow: hidden; */
}

.list {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.list .card {
  /* width: 180px; */
  min-height: 270px;
  border-radius: 1rem;
  background: var(--grey-500);
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.list .card_name {
  padding: 1rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.list .card p {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 90%;
  letter-spacing: 0.02em;
}

.navigation {
  position: relative;
  top: -180px;
  display: flex;
  justify-content: space-between;
}

.navigation .arrow {
  position: absolute;
  cursor: pointer;
}

.navigation .arrow.next img {
  transform: rotate(-180deg);
}

.navigation .swiper-button-disabled {
  opacity: 0.33;
  cursor: default;
}

.navigation .prev {
  left: -100px;
  right: auto;
}

.navigation .next {
  left: auto;
  right: -100px;
}

@media (max-width: 1200px) {
  .list .card {
    min-height: 385px;
  }
}

@media (max-width: 1400px) {
  .navigation {
    display: none;
  }
}

@media (max-width: 425px) {
  .list {
    margin-top: 35px;
  }
}
