.result_selection {
  display: flex;
  align-items: center;
  margin: 70px auto;
  justify-content: center;
}

.result_selection__item:not(:last-child) {
  margin-right: 38px;
}

.result_selection__item {
  max-width: 460px;
  width: 100%;
  border: 1px solid var(--grey-400);
  border-radius: 1rem;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result_selection__item .scale {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result_selection__item .title {
  font-size: 2rem;
  line-height: 100%;
  text-align: center;
  font-weight: bold;
}

.result_selection__item .description {
  margin-top: 10px;
}

.result_selection__item .button {
  margin-top: 1.5rem;
  color: var(--primary-red);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 200%;
  padding: 10px 50px;
  border: 1px solid var(--primary-red);
  border-radius: 245px;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 992px) {
  .result_selection {
    margin: 50px auto 70px;
  }

  .result_selection__item .title {
    font-size: 1.5rem;
  }

  .result_selection__item .button {
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .result_selection {
    flex-direction: column;
  }

  .result_selection__item:not(:last-child) {
    margin-right: 0;
  }

  .result_selection__item {
    margin-bottom: 2rem;
    padding: 20px;
  }

  .result_selection__item .scale svg {
    width: 140px;
    height: 140px;
  }

  .result_selection__item .button {
    text-align: center;
  }
}
